<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BS" providerName="Sql.Data.SqlClient"
            connectionString="Data Source = (LocalDb)\MSSQLLocalDb; 
             initial Catalog = BitServices_Sam;
             integrated security =true; connect timeout=30"/>
  </connectionStrings>
  <appSettings>
    <add key="LoginEnabled" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>