* {
    font-family: 'Epilogue', sans-serif;
}

.btn-primary {
    color: #FFFFFF !important;
    background: #EA5D32 !important;
    border-color: #EA5D32 !important;
}

.jumbotron {
    background: #3B0E00 !important;
}

.jumbotron h1, .jumbotron p {
    color: #efefef
}

.resize-none {
    resize: none;
}

td {
    vertical-align: middle !important;
}

.new {
    color: #FFFFFF;
    padding: 3.5px 7px;
    border-radius: 8px;
    background: #EA5D32 !important;
    border-color: #EA5D32 !important;
}

.btn-outline {
    border-color: #dddddd;
    color: #212529;
    background: none;
}